<section>
  <div class="container" *ngIf="lista">
    <h1 class="display-5 ms-2">Impressoras</h1>
    <table class="table mt-4">
      <thead>
        <th>Nome</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>IP</th>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let impressora of impressoras">
          <td>
            <span>{{impressora.nome}}</span>
          </td>
          <td>
            <span>{{impressora.marca}}</span>
          </td>
          <td>
            <span>{{impressora.modelo}}</span>
          </td>
          <td>
            <span>{{impressora.ip}}</span>
          </td>
          <div class="btn-group">
            <button class="btn btn-primary bg-primary border-0 font-weight-bolder px-2 text-white mt-1" (click)="editarImpressora(impressora)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-danger bg-danger border-0 font-weight-bolder px-2 text-white mt-1"
              data-bs-toggle="modal" data-bs-target="#excluirImpressora" (click)="mensagemExclusao(impressora)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </tr>
      </tbody>
      <button class="btn btn-primary mt-3 text-decoration-none border-0" (click)="adicionarImpressora()">
        <i class="bi bi-plus-circle-dotted me-2"></i>Adicionar
      </button>
    </table>
  </div>
</section>

<div class="modal-container" *ngIf="confirmacaoExclusao && !lista">
  <div class="modal-all">
    <h2>Alerta</h2>
    <hr>
    <span>Tem certeza que gostaria de exluir a impressora?</span>
    <hr>
    <div class="btns">
      <button class="btnCancelar" (click)="obterTodos()">Cancelar</button>
      <button class="btnConfirmar" (click)="excluirImpressora()">Excluir</button>
    </div>
  </div>
</div>

<app-impressora-form *ngIf="!confirmacaoExclusao && !lista" [impressora]="impressoraParaAtualizar" (retornarListaImpressora)="obterTodos()" (listaAtualizada)="atualizarLista($event)"></app-impressora-form>




