<div class="container">
  <h1>Dados</h1>
  <div class="form-group">
    <label>Name</label>
    <input [(ngModel)]="impressora.nome" class="form-control" placeholder="Name">
  </div>
  <div class="form-group row mt-2">

    <div class="form-group col-md-6 col-sm-6">
      <label>Marca</label>
      <input type="text" [(ngModel)]="impressora.marca" class="form-control" placeholder="Firstname">
    </div>

    <div class="form-group col-md-6 col-sm-6">
      <label>Modelo</label>
      <input type="text" [(ngModel)]="impressora.modelo" class="form-control" placeholder="Lastname">
    </div>

  </div>
  <div class="form-group mt-2">
    <label>IP</label>
    <input type="text" [(ngModel)]="impressora.ip" class="form-control"  placeholder="Place">
  </div>
  <button (click)="adicionarImpressora(impressora)" class="btn btn-primary mt-3" *ngIf="!impressora.id">Create</button>

  <button *ngIf="impressora.id" (click)="editarImpressora(impressora.id, impressora)">Salvar</button>
  <button *ngIf="impressora.id" (click)="listaImpressoras()">Cancelar</button>

</div>
